*{
    margin: 0;
    padding: 0;
    background-color:  rgb(42, 41, 41);
    color:white;
    --logo-color:rgb(33, 104, 227);
    --logo-color2:rgb(167, 166, 165);
}
.navbar{
    background-color: rgba(0, 0, 0, 0.812);
width: 100%;
height: 3.5rem;
border-top:0.5px solid rgb(60, 53, 53) ;
border-bottom:0.5px solid rgb(60, 53, 53) ;
}
    
.fa-facebook{
color: var(--logo-color);
display: block;
background-color: rgb(226, 221, 211);
display: inline-block;
border-radius:55px;
cursor: pointer;
margin: auto 5px;
}
.fa-brands{
margin: auto 5px;
position: absolute;
left: 0.5rem;
margin-top: 4px;
}

/* ---search Box--- */

.fa-magnifying-glass{
padding-left: 8px;
color:var(--logo-color2);
    cursor: pointer;
    position: absolute;
    left: 4.8rem;
    margin-top: 9px;
    cursor: auto;
    width: 17rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 26px;
    border-radius: 55px;
    padding-right: 3px;
    background-color: rgba(72, 71, 71, 0.739);
}
.fa-magnifying-glass::after{
    content: 'Search Facebook';
    font-size: 1rem;
    margin-left: 10px;
    cursor:text;
    font-family: 'Courier New', Courier, monospace;
}
.profiling{
    width: 100%;
    background-color: rgb(42, 41, 41);
}
.cover{
    width: 65%;
    background-color: rgba(1, 0, 0, 0.649);
    position: relative;
    height: 300px;
    margin: 0 auto;
    border-radius: 5px;
}
.cover>.addCover{
    position: absolute;
    bottom: 3%;
    right: 4%;
    color: black;
    background-color: white;
    height: 2rem;
    /* width: ; */
    font-weight: 700;
    border-radius: 5px;
    padding: 0 3px;
    cursor: pointer;
    width: 10rem;
    padding-left: 3%;
    font-size: 13px;
    border: 0;

}
.profile{
    width:150px;
    height: 150px;
    position: absolute;
    background-color: white;
    border-radius: 150px;
    bottom: -35%;
    left: 5%;
    outline: 5px solid rgb(42, 41, 41);
    cursor: pointer;
}
.profile>.text{
    position: relative;
    left: 160px;
    top: 50px;
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 3;
}
h3{
    font-size:15px;
    color: var(--logo-color2);
}
.fa-camera{
    position: absolute;
    color:black;
    background-color: white;
    padding-left:7px;
    left: 2%;
    font-size: 14px;
}
.FUN{
   position: absolute !important;
   bottom: -25% !important;
   width: 46% ;
   right:3%;
   display: flex;
   height: 12%;
   z-index: 4;
   display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 9px;
}
.FUN>button{
    border-radius: 7px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border:none;
    background-color: rgb(63, 61, 61);
    cursor: pointer;
}
.FUN>button:nth-child(1){
    background-color: var(--logo-color);
    padding: 0 5px;
}
.fa-circle-plus{
    background-color: var(--logo-color);
    padding: 0;
    margin: 0;
    margin-right: 3px;
    /* position: absolute; */
    /* left: 0; */
}